/* Write your code here. */

.notification-container {
  display: flex;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 8px;
  margin-bottom: 12px;
}
.notification-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.head {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bold;
}
.notification-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 500px;
}
.primary {
  background-color: #0b69ff;
}
.success {
  background-color: #2dca73;
}
.warning {
  background-color: #ffb800;
}
.danger {
  background-color: #ff0b37;
}
.icon {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
.message {
  font-size: 15px;
  color: #ffffff;
}
